header(class="header") 
    .container-lg
        <!-- menu mobile -->
        aside.site-off.desktop-hide
            .off-canvas
                .canvas-head.flexitem
                    a(href="#" class="t-close flexcenter")
                        <i class="fa-solid fa-xmark"></i>
                .departments
        .row.align-items-center.justify-content-between
            .col-4.d-flex.align-items-center
                a(href="#" class="trigger desktop-hide")
                    span
                        <i class="fa-solid fa-bars-staggered"></i>
                .form-search
                    form(
                        action='/search/result'
                        method='GET'
                    )
                        div(class="form-group d-flex mb-0")
                            <span class="icon-large">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </span>
                            input(
                                type="text"
                                name="keyword"
                                class="form-control"
                                autocomplete="off"
                                placeholder="Nhập từ khoá tìm kiếm..."
                            )
                            <button type="submit" class="submit">Search</button>
                    
                    .song-suggest
                        .song-list 
                            //- a(href=`/songs/detail/:slugSong` class="song-item")
                            //-     .song-image 
                            //-         img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg")
                            //-     .song-info 
                            //-         .song-title Cắt đôi nổi sầu
                            //-         .song-singer Tăng Duy Tân
                            //- a(href=`/songs/detail/:slugSong` class="song-item")
                            //-     .song-image 
                            //-         img(src="https://backend.daca.vn/assets/images/cat-doi-noi-sau.jpg")
                            //-     .song-info 
                            //-         .song-title Cắt đôi nổi sầu
                            //-         .song-singer Tăng Duy Tân
                                    
                            
                
            .col-8
                .header-menu
                    ul.menu-list.d-flex.m-0
                        li.menu-list--item
                            a(href="/") About
                        li.menu-list--item
                            a(href="/") Contact
                        li.menu-list--item
                            a(href="/") Premium
                        if(user)
                            li.menu-list--item.info
                                a(class="" href='/user/infoUser') #{user.fullName}
                            li.menu-list--item.infoUser
                                a(href='/user/infoUser' title=user.fullName)
                                    img(src=user.avatar)
                        else 
                            .menu-action.d-flex
                                li.menu-list--item.login
                                    a(href="/user/login") Login
                                li.menu-list--item.sing-up
                                    a(href="/user/register") Sign Up
                        
                            