extends ../../layouts/default.pug


block main
    .container.my-5
        .row.justify-content-center
            .col-6.page-forgot-pw
                h1(class="text-center") Lấy lại mật khẩu 
                form(
                    action="/user/password/forgot"
                    method="POST"
                ) 
                    div(class="form-group")
                        label(for="email") Email *
                        input(
                            class="form-control"
                            type="text"
                            id="email"
                            name="email"
                            require
                        ) 
                    div(class="form-group float-right")
                        button(
                            type="text"
                            class="btn btn-primary btn-block"
                        ) Gửi mã xác nhận
        