extends ../../layouts/default.pug


block main
    .container.my-5
        .row.justify-content-center
            .col-6.page-otp
                h1(class="text-center") Nhập mã otp 
                form(
                    action="/user/password/otp"
                    method="POST"
                ) 
                    div(class="form-group")
                        label(for="email") Email
                        input(
                            class="form-control"
                            type="text"
                            id="email"
                            name="email"
                            require
                            value=email
                            readOnly
                        ) 
                    div(class="form-group")
                        label(for="otp") Mã OTP *
                        input(
                            class="form-control"
                            type="text"
                            id="otp"
                            name="otp"
                            require
                        ) 
                    div(class="form-group float-right")
                        button(
                            type="text"
                            class="btn btn-primary btn-block"
                        ) Xác nhận
        