extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container 
        .page-topic-detail
            .row.mt-3
                .col-4 
                    .media 
                        .card-image 
                            img(src=topic.avatar)
                        .card-content 
                            h3.title #{topic.title}
                            div.description !{topic.description}
                .col-8
                    each song in songs
                        .col-12.mb-3 
                            div(class="song-item")
                                div(class="song-image")
                                    a(href=`/songs/detail/${song.slug}`)
                                        img(src=song.avatar)
                                div(class="song-content")
                                    div(class="song-info")
                                        div(class="song-title")
                                            a(href=`/songs/detail/${song.slug}`) #{song.title}
                                        div(class="song-singer") #{song.infoSinger.fullName}
                                    div(class="album-info") #{song.title} (Single)
                                    div(class="song-time") <i class="fa-regular fa-clock"></i> Hôm nay
                
                            