div(class="sidebar") 
    .logo 
        span Admin

    .header-menu
        ul.menu-list 
            li.menu-list--item.active
                <i class="fa-solid fa-house-chimney"></i>
                a(href=`/${prefixAdmin}/dashboard`) Tổng quan
            li.menu-list--item
                <i class="fa-solid fa-palette"></i>
                a(href=`/${prefixAdmin}/topics`) Quản lý chủ đề
            li.menu-list--item
                <i class="fa-solid fa-file-audio"></i>
                a(href=`/${prefixAdmin}/songs`) Quản lý bài hát
            li.menu-list--item
                <i class="fa-regular fa-circle-user"></i>
                a(href=`/${prefixAdmin}/singers`) Quản lý ca sĩ
            li.menu-list--item
                <i class="fa-regular fa-compass"></i>
                a(href=`/${prefixAdmin}/roles/permisstions`) Phân quyền
            li.menu-list--item
                <i class="fa-solid fa-user-tie"></i>
                a(href=`/${prefixAdmin}/accounts`) Tài khoản admin
            li.menu-list--item
                <i class="fa-solid fa-users"></i>
                a(href=`/${prefixAdmin}/users`) Tài khoản user
            li.menu-list--item
                <i class="fa-solid fa-gear"></i>
                a(href=`/${prefixAdmin}/settings/general`) Cài đặt chung
            li.menu-list--item
                <i class="fa-solid fa-right-from-bracket"></i>
                a(href=`/${prefixAdmin}/logout`) Đăng xuất
    
 

            
    